body {
  font-family: CaLibri, sans-serif;
  background: url(../img/bg.png) no-repeat;
  background-size: 100% 90%;
}

.main {
  background-color: #c5cfd4;
}

#logo {
  margin-top: 60px;
  margin-bottom: 54px;
}

/**
 * NAV-TOP
 */

.fix-color {
  background-color: #1b7b9e;
}

.top {
  float: right;
}

.shop {
  float: left;
  margin-top: 30px;
  padding-left: 20px;
}

.social {
  float: left;
  margin-top: 50px;
  clear: both;
}

.social a {
  padding-left: 8px;
}

.social a:hover,
.shop a:hover {
  opacity: .9;
}

.ico-vk {
  background: url(../img/vk.png) no-repeat;
  display: inline-block;
  height: 25px;
  width: 26px;
}

.ico-facebook {
  background: url(../img/facebook.png) no-repeat;
  display: inline-block;
  height: 25px;
  width: 26px;
}

.ico-instagram {
  background: url(../img/instagram.png) no-repeat;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.ico-shop {
  background: url(../img/shop.png) no-repeat;
  display: inline-block;
  height: 60px;
  width: 60px;

}

.nav-top {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

.nav-top li {
  list-style: none;
  float: left;
  text-align: center;
  padding: 16px 48.8px 16px;
  margin: 0 0;
}


.nav-top a {
  font-size: 20px;
  line-height: 35px;
  color: #fff;
}

.nav-top a:visited,
.nav-top a:link  {
  text-decoration: none;
  outline: none;
}

.nav-top a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.nav-top li:nth-child(1) {
  background-color: #092d40;
}

.nav-top li:nth-child(2) {
  background-color: #0c3a53;
}

.nav-top li:nth-child(3) {
  background-color: #114c6e;
}

.nav-top li:nth-child(4) {
  background-color: #155b7f;
}

.nav-top li:nth-child(5) {
  background-color: #176a8d;
}

.nav-top li:nth-child(6) {
  background-color: #1b7b9e;
}

/**
 * BAR-LEft
 */

#bar-left {
  background-color: #dce2e5;
  padding-bottom: 34px;
}

#bar-left h2 {
  margin: 0 0;
  padding: 26px 46px 30px;
  color: #294b60;
  font-size: 20px;
  line-height: 35px;
  background-color: #eae790;
  -webkit-border-bottom-right-radius: 18px;
  -webkit-border-bottom-left-radius: 18px;
  -moz-border-radius-bottomright: 18px;
  -moz-border-radius-bottomleft: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

/**
 * Main
 */

#main {
  margin: 60px 20px;

  background-color: #c5cfd4;
}

.banner img {
  /* BOX SHADOW */
  /* webkit */
  -webkit-box-shadow:  0px 0px 60px 0px #114c6e;
  /* Mozilla */
  -moz-box-shadow:  0px 0px 60px 0px #114c6e;
  box-shadow:  0px 0px 60px 0px #114c6e;
  /* IE <9.0 HACK (SUPPORTS ONLY ONE SHADOW) */
  filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=0, color=##114c6e);
  margin-bottom: 40px;
}

#wrap {
  /* webkit */
  -webkit-box-shadow:  0px 0px 113px 24px #092d40;
  /* Mozilla */
  -moz-box-shadow:  0px 0px 113px 24px #092d40;
  box-shadow:  0px 0px 113px 24px #092d40;
  /* IE <9.0 HACK (SUPPORTS ONLY ONE SHADOW) */
  filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=0, color=##092d40);

}

/**
 * Bar-Right
 */

.news div.col-md-2 {
  padding-left: 0;
}

#bar-right h2 {
  font-size: 19px;
  line-height: 35px;
  font-style: italic;
}

.ico-arrow {
  background: url(../img/arrow.png) no-repeat;
  display: inline-block;
  height: 9px;
  width: 11px;
}

#bar-right section h2 {
  font-style: normal;
  background-color: #399db2;
  text-align: center;
  color: #fff;
  padding: 20px 52px 18px;
}

#bar-right section {
  border-bottom: 26px solid #399db2;
  height: 388px;
  background-color: #fff;
}

/**
 * Footer
 */

footer {
  height: 270px;
  margin-bottom: 94px;
}

/**
 * Mob 
 */

@media screen and (max-width: 991px) {

  .content {
    font-size: 14px !important;
  }

  #bar-right > h2 {
    margin-left: 55px;
  }

  #logo img {
    width: 100%;
    height: 100%;
  }
  
  .top-nav-menu div.col-md-2 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .news div.col-md-2 {
    padding-left: 15px;
  }

}

/**
 * Content
 */

.content {
  font-size: 16px;
}

/**
 * top nav menu v2
 */

.top-nav-menu a {
  font-size: 20px;
  line-height: 35px;
  color: #fff;
}

.home,
.about,
.buy,
.partner,
.articles,
.contact {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 14px;
}

.home a:link,
.about a:link,
.buy a:link,
.partner a:link,
.articles a:link,
.contact a:link {
  outline: none;
}

.home {
  background-color: #092d40;
}

.about {
  background-color: #0c3a53;
}

.buy {
  background-color: #114c6e;
}

.partner {
  background-color: #155b7f;
}

.articles {
  background-color: #176a8d;
}

.contact {
  background-color: #1b7b9e;
}

.top-nav-menu div.col-md-2 {
  margin: 0 0;
  padding: 0 0;
}

.top-nav-menu div.col-md-2:nth-child(1) {
  padding-left: 15px;
}

.top-nav-menu div.col-md-2:nth-child(6) {
  padding-right: 15px;
}

/**
 * Catalog
 */

.catalog {
  color: #607583;
}

.catalog ul {
  list-style: none;
}

.list-group-item {
  text-align: center;
  padding-left: 40px;
  font-size: 18px;
}

ul.list-group-item {
  
}

li.list-group-item {
  /*padding-left: 15px;*/
}

ul.catalog > li.list-group-item {
  background: url(../img/arrow.png) no-repeat 8% 50%;
}

.submenu {
  display: none;
}

.submenu .list-group-item {
  padding: 0;
}

.open + ul.submenu {
  display: inline;
}

.open > ul.submenu {
  display: inline;
}

.list-group-item li {
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 0;
}

li.list-group-item.open {
  background: url(../img/arrow-down.png) no-repeat 8% 50% !important;
}

.list-group-item {
  background-color: #dce2e5;
  -moz-border-image: url(../img/bar-left-line.png) 2 2 2 2;
  -webkit-border-image: url(../img/bar-left-line.png) 2 2 2 2; 
  -o-border-image: url(../img/bar-left-line.png) 2 2 2 2;
  border-image: url(../img/bar-left-line.png) 2 2 2 2;
}

.list-group-item:last-child {
  background-color: #dce2e5;
  -moz-border-image: url(../img/bar-left-line.png) 2 2 0 2;
  -webkit-border-image: url(../img/bar-left-line.png) 2 2 0 2; 
  -o-border-image: url(../img/bar-left-line.png) 2 2 0 2;
  border-image: url(../img/bar-left-line.png) 2 2 0 2;
}


li.list-group-item:hover,
.node-selected {
  background-color: #eae790 !important;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  color: #0c3a53 !important;
  cursor: pointer;
}

li.list-group-item.open {
  background-color: #eae790 !important;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  color: #0c3a53 !important;
}

.list-group-item li {
  padding-top: 12px;
  padding-bottom: 4px;
}

.catalog li a:link {
  outline: none;
}

.subname {
  font-size: 18px;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 12px;
}

/*li.subname  {
  -moz-border-image: url(../img/bar-left-line.png) 0 0 2 0;
  -webkit-border-image: url(../img/bar-left-line.png) 0 0 2 0 ; 
  -o-border-image: url(../img/bar-left-line.png) 0 0 2 0 ;
  border-image: url(../img/bar-left-line.png) 0 0 2 0;
}*/
